$text-color: #2F3035;
$blue: #1C62CD;
$grey: #F0F0F4;

@import url("fonts.css");
@import 'blocks/header';
@import 'blocks/banners';
@import 'blocks/slider';
@import 'blocks/share';
@import 'blocks/search';
@import 'blocks/categories';
@import 'blocks/goods';
@import 'blocks/banner';
@import 'blocks/footer';
@import 'blocks/burger';


*{
    font-family: 'SFPro';
    color: $text-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

@import 'media/header';